{% set header = header %}

<header class="header">
  <div class="container">
    <div class="top-panel">
      <a href="./" aria-label="logo serwisu i link do strony głównej">
        <img class="logo" src="./assets/images/logo-dark.svg" alt="GoIT logo" width="102" height="32" />
      </a>
      {% include 'components/nav-menu.html' %}
    </div>
    <div class="header-content">
      <h1 class="header-title title-big">{{ header.title }}</h1>
      <p>{{ header.description }}</p>
    </div>
    <ul class="list header-list">
      <li class="item  header-item">
        <svg class="header-item-icon">
          <use href="./assets/images/sprite.svg#hero-laptop"></use>
        </svg>
        <div>
          Создайте дизайн своего первого сайта <br />
          <span class="text-accent"><strong>за 7 дней</strong></span><br />
          Без опыта работы в графических редакторах
        </div>
      </li>
      <li class="item header-item">
        <svg class="header-item-icon">
          <use href="./assets/images/sprite.svg#hero-time"></use>
        </svg>
        <div>
          <strong>Старт: </strong><br />
          <span class="text-accent"><strong>{{ header.start }}</strong></span>
        </div>
      </li>
    </ul>
    <button type="button" class="btn btn-modal" data-menu-btn aria-label="">
      Зарегистрироваться
    </button>
  </div>
</header>