:root {
  --accent-cl: #4737ff;
  --secondary-accent-cl: #676883;

  /* TEXT COLORS */
  --primary-txt-cl: #2d2e3a;
  --secondary-txt-cl: #ffffff;
  --black-txt-cl: #333333;
  --sucess-txt-cl: #2ecc71;
  --error-txt-cl: #e74c3c;

  --bg-cl: #0b0360;
  /* FONTS */
  --main-font: 'Montserrat', sans-serif;

  --card-set-item: 1;
  --gap-left: 32px;
  --gap-top: 40px;

  /* ANIMATIONS SPEED */
  --fast: 0.3s;
  --slow: 0.5s;
}
