<section class="section dom-array">
  <h2>DOM Array Methods</h2>

  <div class="container">
    <aside>
      <button id="add-user">Add User 👱‍♂️</button>
      <button id="double">Double Money 💰</button>
      <button id="show-millionaires">Show Only Millionaires 💵</button>
      <button id="sort">Sort by Richest ↓</button>
      <button id="calculate-wealth">Calculate entire Wealth 🧮</button>
    </aside>

    <main id="main">
      <h3><strong>Person</strong> Wealth</h3>
    </main>
  </div>
</section>